[Unit]
Description=Start fcitx5 in distrobox jp container
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/distrobox enter input_mothod -- bash -lc "fcitx5"
Restart=always

[Install]
WantedBy=default.target
