#!/bin/bash
set -euo pipefail

# Rustup で Rust & Cargo をインストール
if ! command -v cargo >/dev/null 2>&1; then
  echo "Installing rustup..."
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  export PATH="$HOME/.cargo/bin:$PATH"
else
  echo "Cargo is already installed."
fi

echo "==> Installing Rust tools from cargo package list..."

PACKAGE_FILE="$HOME/.config/cargo/packages.txt"

if [ ! -f "$PACKAGE_FILE" ]; then
  echo "❌ package list file not found: $PACKAGE_FILE"
  exit 1
fi

export PATH="$HOME/.cargo/bin:$PATH"

while read -r crate; do
  if ! command -v "$crate" >/dev/null 2>&1; then
    echo "Installing $crate..."
    cargo install "$crate"
  else
    echo "$crate is already installed."
  fi
done < "$PACKAGE_FILE"

# Other special cases.
if ! command -v uv >/dev/null 2>&1; then
    echo "Installing uv..."
    cargo install --git https://github.com/astral-sh/uv uv
else
  echo "uv is already installed."
fi
