#!/bin/bash
set -euo pipefail

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") (or (eq .chezmoi.osRelease.variant "Silverblue") (eq .chezmoi.osRelease.variant "COSMIC Atomic") ) }}
  if rpm-ostree status | grep -q 'Diff:'; then
    echo "ℹ️  Pending deployment detected. Please run 'systemctl reboot', then run 'chezmoi apply' again."
    exit 1
  fi
  ZSH_PATH="/usr/bin/zsh"
{{ else }}
  ZSH_PATH="$(command -v zsh)"
{{ end }}

if [ "$SHELL" != "$ZSH_PATH" ]; then
  echo "Changing login shell to zsh..."
  chsh -s "$ZSH_PATH"
else
  echo "zsh is already the login shell."
fi

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") (or (eq .chezmoi.osRelease.variant "Silverblue") (eq .chezmoi.osRelease.variant "COSMIC Atomic") ) }}
  echo "Please run 'systemctl reboot', login into shell again."
{{ end }}
