{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.variant "Silverblue") }}

#!/bin/bash
set -euo pipefail

flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
rpm-ostree install -y gnome-tweaks

# download repo files for lazygit
VERSION_ID="$(. /etc/os-release && echo "$VERSION_ID")"
sudo curl --output-dir "/etc/yum.repos.d/" --remote-name  https://copr.fedorainfracloud.org/coprs/dejan/lazygit/repo/fedora-${VERSION_ID}/dejan-lazygit-fedora-${VERSION_ID}.repo
rpm-ostree refresh-md --force

echo
echo "ℹ️  Please run 'systemctl reboot', then run 'chezmoi apply' again."

{{- end }}
