{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.variant "COSMIC Atomic") -}}
#!/bin/bash
set -euo pipefail

if rpm-ostree status | grep -q "State: busy"; then
  echo "⚠️  rpm-ostree transaction in progress, cancelling..."
  rpm-ostree cancel
fi

rpm-ostree upgrade

{{- end -}}
