{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.variant "COSMIC Atomic") -}}
#!/bin/bash
set -euo pipefail

distrobox assemble create --file ~/.config/distrobox/containers.ini

echo "✅ Containers setup step done."

systemctl --user daemon-reload
systemctl --user enable --now distrobox-fcitx5.service

echo "✅ distrobox-fcitx5.service enabled."

{{- end -}}
